<div class="container">
<h1>管理者ユーザー詳細</h1>
  <div class="row my-3">
    <div class="col-3">
      姓名
    </div>
    <div class="col-8">
      <%= @user.full_name %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      ニックネーム
    </div>
    <div class="col-8">
      <%= @user.nickname %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      メールアドレス
    </div>
    <div class="col-8">
      <%= @user.email %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      生産者ステータス
    </div>
    <div class="col-8">
      <% if @user.is_farmer == false %>
        一般ユーザー
      <% else %>
        <span class="color-green">生産者ユーザー</span>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      会員ステータス
    </div>
    <div class="col-8">
      <% if @user.is_deleted == false %>
        <span class="color-blue">有効</span>
      <% else %>
        <span class="color-red">退会</span>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-2 px-0">
      <%= link_to edit_admins_account_path(@user) do %>
        <button type="button" class="btn btn-success">編集する</button>
      <% end %>
    </div>
  </div>
</div>
