/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header */

header{
   width: 100%;
   background: linear-gradient(#d46c4f 0%, #9e4028 100%);
}

.nav-item{
   padding: 10px 20px;
}

.navbar-brand img{
  width: 200px;
  height: 50px;
}



/* body */


/* top */
.top_logo{
  width: 100%;
  height: 100%;
  background-image: image-url("top_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
}

.about{
  width: 100%;
  height: 600px;
}

.about h1{
  width: 150px;
  margin: 10px auto;
  font-size: 60px;
}

.about-text{
  text-align: center;
}

.about-text p{
  font-size: 24px;
}

.top_category_image img{
  width: 90%;

}

/* recipe_new, recipe_edit form */
.recipe_point_box{
  width: 500px;
  height: 200px;
}

.recipe_ingredients_box{
  width: 500px;
  height: 200px;
}


/* recipe_index */

.recipe_index_image,.recipe_index_name,.recipe_index_username{
  text-align: center;
}


/* recipe_show */

.recipe_title{
  text-align: center;
  font-size: 24px;
}

.recipe_image{
  margin-bottom: 10px;
}

.recipe_image img {
  width: 100%;
  margin: 0 auto;
}

#favorites_button{
  width: 30%;
}

.recipe_option{
  display: flex;
}

.recipe_option_button{
  width: 70%;
  text-align: right;
}

.use_food{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.recipe_point{
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}


.making_image_box img{
  width: 100%;
}

.making_edit a{
  color: green;
  font-size: 12px;
}

.making_destroy a{
  color: gray;
  font-size: 12px;

}


/* making_new */
.new_making_process{
  width: 500px;
  height: 200px;
}


/* account_new */
.account_intoroduction_form{
  width: 400px;
  height: 170px;
}


/* account_show */

.account_name_area{
  display: flex;
}

.account_icon{
  width: 30%;
}

.account_name{
  width: 20%;
}

.account_option{
  width: 45%;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.account_option_head{
  text-align: center;
  border-bottom: double 6px orange;
}

.farmer_option{
  text-align: center;
}

.new_recipe_button{
  text-align: center;
  margin-bottom: 5px;
}

.edit_button,.my_posting_recipe{
  text-align: center;
}

.account_intoroduction{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
}

.posting_recipe{
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #4ec4d3;
}
.posting_recipe p{
  margin: 0;
  padding: 0;
  text-align: center;
}

.pick_up h4{
  text-align: center;
}

.pick_up_image img{
  width: 200px;
  height: 150px;
}


/* crops_new */
.crop_introduction_box{
  width: 500px;
  height: 200px;
}

/* Admins 側 CSS */

/* admins_accounts_index */
.admins_accounts_index p{
  font-size: 24px;
}

/* admins_category */
.category_image img{
  width: 160px;
  height: 120px;
}


/* テキストカスタム用 */
.color-red{
  color: red;
}

.color-green{
  color: green;
}

.color-blue{
  color: blue;
}