/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header{
   width: 100%;
   background: linear-gradient(45deg, #d46c4f 0%, #d46c4f 30%, #9e4028 70%, #9e4028 100%);
}

.nav-item{
   padding: 10px 20px;
}

.youkoso{
  color: #BDB76B;
  border: solid 3px #BDB76B;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
}

/* recipe_index */

.recipe_index_image,.recipe_index_name,.recipe_index_username{
  text-align: center;
}

/* recipe_show */
.recipe_title{
  text-align: center;
  font-size: 24px;

}

.recipe_image{
  width: 520px;
  margin: 0 auto;
}

.recipe_option{
  display: flex;
}

.recipe_favorite{
  width: 50%;
}

.recipe_option_button{
  width: 50%;
  text-align: right;
}

.use_food{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.recipe_point{
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}

/* account_show */

.account_name_area{
  display: flex;
}

.account_icon{
  width: 30%;
}

.account_name{
  width: 30%;
}

.account_option{
  width: 30%;
}

.new_recipe_button{
  text-align: center;
  margin-bottom: 5px;
}

.edit_button,.my_posting_recipe{
  text-align: center;
}

.account_intoroduction{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
}

.posting_recipe{
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #4ec4d3;
}
.posting_recipe p{
  margin: 0;
  padding: 0;
}