// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* contact_show */
.contact_category{
  width: 40%;
  margin-bottom: 20px;
  border: solid 1px #000000;
}

.contact_text{
  width: 100%;
  margin-bottom: 20px;
  border: solid 1px #000000;
}

