// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* top */
.top_logo{
  width: 100%;
  height: 100%;
  background-image: image-url("top_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
}

.about{
  width: 100%;
  height: 600px;
}

.about h1{
  width: 150px;
  margin: 10px auto;
  padding-top: 50px;
  font-size: 60px;
}

.about-text{
  text-align: center;
}

.about-text p{
  font-size: 24px;
}

.top_category_image img{
  width: 90%;

}